/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#fff;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

html{
	background-color: var(--color-background);
	font-family: sans-serif;
}


header ul{

	display: flex;
	list-style-type: none;
}

header ul li:first-of-type{
	margin-right: auto;
}
